      <%= form_for @contact, :url => contact_pages_path, html: { class: 'contact-form', id: 'contact-form' } do |f| %>
      <div class="contact-title d-flex align-center-center">
        <h1>GET IN TOUCH WITH ME</h1>
      </div>
       <div class="input-container">
         <%= f.text_field :name, class: 'form-field', placeholder: "#{t('contact_form.label.name')}", required: true  %>
       </div>
       <div class="input-container">
         <%= f.text_field :email, class: 'form-field', placeholder: "#{t('contact_form.label.email')}", required: true  %>
       </div>
       <div class="input-container">
         <%= f.text_area :body, placeholder: "#{t('contact_form.label.message')}", class: 'form-field', required: true  %>
       </div>
       <div class=" d-flex f-width-of-parent j-content-end">
         <%= f.submit 'Send', class: 'btn btn-primary' %>
       </div>
      <% end %>
