<div class="page-nav">
  <div class="">
    <ul class="nav-dots">
      <li class="dot" id="dot-1"></li>
      <li class="dot" id="dot-2"></li>
      <li class="dot" id="dot-3"></li>
      <li class="dot" id="dot-4"></li>
    </ul>
  </div>
</div>

<div class="welcome-container f-height">
  <div class="welcome-box">
      <h1>Something is coming here</h1>
  </div>
</div>

  <div class="about-container min-height-100 d-grid" id="about">
    <div class="about-content d-grid">
      <div class="image-container bg-fill" style="background-image: url(<%= image_url('hans.jpg') %>">
      </div>
      <div class="content-box">

      </div>

      <div class="about-text">
        <h5>A Passionate Developer</h5>
        <p>I am a full stack Ruby on Rails developer. I love the front-end and spend a lot of time digging deeper into JavaScript and CSS3 and it's vast opportunities. Next on my schedule is to conquer React, having heard great things about the framework. Rails and Postgresql have become my best friends in the back-end. I recently graduated The Firehose Project bootcamp, and work as a freelance website developer. Currently, I am relocating to Los Angeles and will be looking for a new full time job. Feel free to reach out to me if you operate in the area and need a motivated team player on board. I got experience with agile teams!</p>
      </div>
    </div>
  </div>



<div class="min-height-100">
<div class="d-grid" id="projects">

  <div class="projects-title d-grid justify-self-center align-self-center">
    <h1>Monk projects</h1>
  </div>

  <div class="projects-nav d-grid" id="links-container">
    <div class="nav-btn">
        <span class="js-link cool-link active-tab" id="websites-link">Websites</span>
    </div>
    <div class="nav-btn">
      <span class="js-link cool-link" id="code-link">Code</span>
    </div>
    <div class="nav-btn">
      <span class="js-link cool-link" id="school-link">School</span>
    </div>
    <div class="nav-btn">
      <span class="js-link cool-link" id="fun-link">Fun</span>
    </div>
  </div>

    <div class="square-container tab" id="websites">
      <% @projects.each do |project| %>
        <% if project.category.name == "Websites" %>
          <div class="square" style="background-image: url(<%= project.image_url(:thumb) %>);">
            <div class="content">
              <div class="inner d-flex justify-content-center align-items-center text-center">
                <%= link_to 'See project', project_path(project), class: 'primary-button link' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="square-container tab hide" id="code">
      <% @projects.each do |project| %>
        <% if project.category.name == "Code" %>
          <div class="square" style="background-image: url(<%= project.image_url(:thumb) %>);">
            <div class="content">
              <div class="inner d-flex justify-content-center align-items-center text-center">
                <%= link_to 'Code', project_path(project), class: 'primary-button link' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="square-container tab hide" id="school">
      <% @projects.each do |project| %>
        <% if project.category.name == "School" %>
          <div class="square wrap" style="background-image: url(<%= project.image_url(:thumb) %>);">
            <div class="content">
              <div class="inner d-flex justify-content-center align-items-center text-center">
                <%= link_to 'Code', project_path(project), class: 'primary-button link' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="square-container tab hide" id="fun">
      <% @projects.each do |project| %>
        <% if project.category.name == "Fun" %>
          <div class="square" style="background-image: url(<%= project.image_url(:thumb) %>);">
            <div class="content">
              <div class="inner d-flex justify-content-center align-items-center text-center">
                <%= link_to 'Code', project_path(project), class: 'primary-button link' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
</div>

<div class="contact-container f-height d-flex justify-content-center align-items-center" id="contact">

  <div class="text-center" id="contact-btn-container">
    <button class="btn btn-primary" id="contact-btn">Contact Me</button>
  </div>

  <div class="" style="display: none; opacity: 0; transition: opacity 1s ease-in-out;" id="contact-form">
    <div class="" id="tull">
      <%= render 'contact_form' %>
    </div>
  </div>

  <div class="" style="display: none; opacity: 0; transition: opacity 1s ease-in-out;" id="success-message">
    <h4>Your message was sent! I will get back to you ASAP!</h4>
  </div>

  <div class="" style="display: none; opacity: 0; transition: opacity 1s ease-in-out;" id="error-message">
    <h4>Something went wrong! Please try again.</h4>
  </div>
</div>
