<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Du har fått en ny melding fra <%= @contact.name %></h1>
    <p><%= simple_format(@contact.body) %></p>
    <br>
    <p><%= @contact.phone_number %></p>
    <p><%= @contact.email %></p>
    <% if !@contact.website.empty? %>
      <%= @contact.website %>
    <% end %>
  </body>
</html>
