
  <div class="container-fluid blog-banner d-flex align-items-center parallax" id="blog-banner" style="background-image: url(<%= "/uploads/post/image/#{@posts.newest_post2(:id)}/#{@posts.newest_post2(:image)}" %>);">
    <div class="container">
      <div class="title-box">
        <p><%= @posts.newest_post2(:published_at) %></p>
        <%= link_to @posts.find_by_id("#{@posts.newest_post2(:id)}"), class: 'remove-link-style' do %>
        <h2 class="text-left black" id="post"><%= @posts.newest_post2(:title).upcase %></h2>
        <% end %>
      </div>
    </div>
  </div>
<br><br>

<div class="container">
  <div class="row">
    <% @posts.order(published_at: :desc).drop(1).each do |post| %>
      <div class="col col-md-4">
        <div class="post-box">
          <% if post.published? %>
            <%= link_to post_path(post), class: "remove-link-style" do %>
              <%= image_tag post.image.to_s, class: 'img-fluid' %>
              <p class="clear" id="raiko"><%= post.title%></p>
            <% end %>
            <%= raw post.content.truncate(200, seperator: /\W/) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

<br>
